.box {
  width: 100px;
  height: 100px;
  background-color: coral;
  padding: 20px;
}
.box1 {
  border-color: black;
  border-width: 10px;
  border-style: solid;
  margin-left: 20px;
}
.box2 {
  border: 10px solid darkblue;
  margin-left: 180px;
}
.box3 {
  border: 10px solid greenyellow;
  margin-left: 340px;
}
