.boxparent1 {
  width: 320px;
  height: 300px;
  margin: 0 auto;
  border: 3px solid rgb(219, 209, 209);
  box-shadow: 7px 7px 5px 0 rgb(105, 104, 104);
  margin-bottom: 20px;
}
.boxparent2 {
  width: 320px;
  height: 330px;
  margin: 0 auto;
  border: 3px solid rgb(219, 209, 209);
  box-shadow: 7px 7px 5px 0 rgb(105, 104, 104);
  margin-bottom: 20px;
}
.boxchild {
  background-color: aqua;
  color: white;
  margin: auto;
  width: 320px;
  height: 70px;
  text-align: center;
  padding-top: 35px;
  font-size: 30px;
}
body {
  display: flex;
  flex-direction: column;
}
.box {
  padding-right: 15px;
  padding-left: 15px;
}
